.about-me-parent-box {
  /* border: 4px solid red; */
  width: 100%;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  margin: auto;
}
.about-me-desc-p {
  font-size: 1.5rem;
  /* background-color: #f6f6c9; */
}
.about-me-parent-box > div > p {
  text-align: left;
  padding: 1rem;
  word-spacing: 1px;
}

/* Media query */
/* Large desktop screen */
@media (min-width: 970px) and (max-width: 1024px) {
  .about-me-desc-p {
    font-size: 100%;
  }
}

@media (min-width: 770px) and (max-width: 969px) {
  .about-me-desc-p {
    font-size: 90%;
  }
  .about-me-parent-box {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}
/* small-screen-laptops */
@media (min-width: 480px) and (max-width: 769px) {
  .about-me-desc-p {
    font-size: 85%;
  }
  .about-me-parent-box {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}
/* /Mobile devices */
@media (min-width: 320px) and (max-width: 479px) {
  .about-me-desc-p {
    font-size: 80%;
  }
  .about-me-parent-box {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}
