/* Skills Page */
.what-i-do-parent {
    /* border: 3px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: #f6f6c9; */
  }
  .what-i-do-box {
    /* border: 3px solid yellow; */
    text-align: left;
  }
  .what-i-do-pacakages {
    width: 100%;
    /* border: 1px solid red; */
    margin: 1rem 0 1rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.2rem;
  
    /* can be flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }
  .what-i-do-pacakages {
    padding: 0.25rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, auto);
  }
  