/* Home - Portfolio page */
.bullets-current {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}
.homepage-parent-container {
  width: 100%;
  /* border: 2px solid yellow; */
  display: grid;
  grid-template-columns: 1.4fr 0.6fr;
}
.homepage-intro-box {
  /* border: 1px solid #ccc; */
  font-size: 1.5rem;
}
.homepage-resume-btn {
  /* display: inline-block;
  background: #4e9caf;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  font-size: 1.2rem;
  text-decoration: none; */
  appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 0.9rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* width: 20%; */
    will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

.my-image-portfolio {
  width: 100%;
  height: auto;
  padding: 1.2rem;
  margin: auto;
  object-fit: contain;
}

/* Skills Page */
.what-i-do-parent {
  border: 1px solid white;
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}
.what-i-do-box {
  border: 1px solid white;
  text-align: left;
}
.what-i-do-pacakages {
  width: 100%;
  border: 1px solid red;
  margin: 1rem 0 1rem 0;
  display: grid;
  grid-template-columns: 1fr;

  /* can be flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 3rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* Large desktop screen */
@media (min-width: 970px) and (max-width: 1024px) {
  .homePage-main-picture{
    margin: auto;
    width: 100%;
  }
}

@media (min-width: 770px) and (max-width: 969px) {
  p {
    font-size: 100%;
  }
  .homepage-parent-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0;
  }
  .homePage-main-picture{
    margin: auto;
    width: 100%;
    /* margin-top: -2rem; */
  }
}
/* small-screen-laptops */
@media (min-width: 480px) and (max-width: 769px) {
  p {
    font-size: 98%;
  }
  .homePage-main-picture{
    margin: auto;
    width: 100%;
  }
}
/* /Mobile devices */
@media (min-width: 320px) and (max-width: 479px) {
  p {
    font-size: 60%;
  }
  .homePage-main-picture{
    margin: auto;
    width: 100%;
  }
}
