nav {
  border: 2px solid red;
  /* background: #0082e6; */
  /* height: 80px; */
  width: 100%;
}
label.logo {
  color: white;
  font-size: 2rem;
  line-height: 5rem;
  padding: 0 6.5rem;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 1.1rem;
}
nav ul li {
  display: inline-block;
  line-height: 5rem;
  margin: 0 0.2rem;
}
nav ul li a {
  color: white;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  text-transform: uppercase;
}
a.active,
a:hover {
  background: #1b9bff;
  transition: 0.5s;
}
.checkbtn {
  font-size: 1.9rem;
  color: white;
  float: right;
  line-height: 5rem;
  margin-right: 4rem;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 980px) {
  label.logo {
    font-size: 1.8rem;
    padding-left: 3rem;
  }
  nav ul li a {
    font-size: 1rem;
  }
}
@media (max-width: 906px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #1d2935;
    top: 5rem;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 3rem 0;
    line-height: 1.8rem;
  }
  nav ul li a {
    font-size: 1.1rem;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

