.project-card-component {
   width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  padding: 1rem;
  transition: 0.4s;
  border-radius: 10px;
}
.project-card-component-box{
    color: #fff;
    padding-top: 5px;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
  }
  .project-card-component-box:hover {
    /* padding: 10px 10px 15px 10px; */
    background: rgba(255, 255, 255, 0.1);
  }
  /* Project Media Query */
  @media (max-width: 906px) {
    .homepage-parent-container {
      grid-template-columns:repeat(1,1fr);
      grid-template-rows: repeat(2,1fr);
    }
  }